<a href="https://colab.research.google.com/github/Jittiya/multivariate/blob/main/Chapter2_Visualize_Multivariate_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ใช้ข้อมูลจาก http://my.ilstu.edu/~gjin/gjtpage/HSC445/Data/AirPollution.html

In [1]:
import pandas as pd

In [3]:
pollution_data = pd.read_csv('/content/pollution.fxf.txt',sep='\t+') #\t+ คือใช้ tab แบ่งข้อมูล \s+ คือใช้ space แบ่งข้อมูล

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

In [4]:
pollution_data

              City  SO2  Temp   Man   Pop  Wind   Rain  RainDays
0          Phoenix   10  70.3   213   582   6.0   7.05        36
1      Little Rock   13  61.0    91   132   8.2  48.52       100
2    San Francisco   12  56.7   453   716   8.7  20.66        67
3           Denver   17  51.9   454   515   9.0  12.95        86
4         Hartford   56  49.1   412   158   9.0  43.37       127
5       Wilmington   36  54.0    80    80   9.0  40.25       114
6       Washington   29  57.3   434   757   9.3  38.89       111
7     Jacksonville   14  68.4   136   529   8.8  54.47       116
8            Miami   10  75.5   207   335   9.0  59.80       128
9          Atlanta   24  61.5   368   497   9.1  48.34       115
10         Chicago  110  50.6  3344  3369  10.4  34.44       122
11    Indianapolis   28  52.3   361   746   9.7  38.74       121
12      Des Moines   17  49.0   104   201  11.2  30.85       103
13         Wichita    8  56.6   125   277  12.7  30.58        82
14      Louisville   30  55.6   291   593   8.3  43.11       123
15     New Orleans    9  68.3   204   361   8.4  56.77       113
16       Baltimore   47  55.0   625   905   9.6  41.31       111
17         Detroit   35  49.9  1064  1513  10.1  30.96       129
18   Minn-St. Paul   29  43.5   699   744  10.6  25.94       137
19     Kansas City   14  54.5   381   507  10.0  37.00        99
20       St. Louis   56  55.9   775   622   9.5  35.89       105
21           Omaha   14  51.5   181   347  10.9  30.18        98
22     Albuquerque   11  56.8    46   244   8.9   7.77        58
23          Albany   46  47.6    44   116   8.8  33.36       135
24         Buffalo   11  47.1   391   463  12.4  36.11       166
25      Cincinnati   23  54.0   462   453   7.1  39.04       132
26       Cleveland   65  49.7  1007   751  10.9  34.99       155
27        Columbus   26  51.5   266   540   8.6  37.01       134
28    Philadelphia   69  54.6  1692  1950   9.6  39.93       115
29      Pittsburgh   61  50.4   347   520   9.4  36.22       147
30      Providence   94  50.0   343   179  10.6  42.75       125
31         Memphis   10  61.6   337   624   9.2  49.10       105
32       Nashville   18  59.4   275   448   7.9  46.00       119
33          Dallas    9  66.2   641   844  10.9  35.94        78
34         Houston   10  68.9   721  1233  10.8  48.19       103
35  Salt Lake City   28  51.0   137   176   8.7  15.17        89
36         Norfolk   31  59.3    96   308  10.6  44.68       116
37        Richmond   26  57.8   197   299   7.6  42.59       115
38         Seattle   29  51.1   379   531   9.4  38.79       164
39      Charleston   31  55.2    35    71   6.5  40.75       148
40       Milwaukee   16  45.7   569   717  11.8  29.07       123

#Very basic plot to visualize any data

##scatter plot

In [ ]:
pollution_data.plot.scatter('SO2','Wind')

In [ ]:
pollution_data.plot.scatter('SO2','Wind',s=100,c='r')

เทคนิคที่1 ใช้ขนาดของจุดแสดงปริมาณของ dimension ที่ 3 ได้

In [ ]:
pollution_data.plot.scatter('SO2','Wind',s = 'RainDays')

เทคนิคที่2 ใช้สีแสดงปริมาณของ dimension ที่ 3 ได้

In [ ]:
pollution_data.plot.scatter('SO2','Wind',c = 'RainDays')

#scatter matrix

In [ ]:
pd.plotting.scatter_matrix(pollution_data)

In [ ]:
pd.plotting.scatter_matrix(pollution_data);

In [ ]:
pd.plotting.scatter_matrix(pollution_data,alpha=1.0);

In [ ]:
pd.plotting.scatter_matrix(pollution_data,alpha=0.1);

In [ ]:
pollution_data.plot.scatter('Temp','RainDays',s=100,c='r')

#Parallel Coordinate

In [ ]:
example_df = pd.read_csv('https://raw.github.com/pandas-dev/pandas/master/pandas/tests/io/data/csv/iris.csv')

In [ ]:
example_df

In [ ]:
pd.plotting.parallel_coordinates(example_df, 'Name')

#Quiz2

พล้อตกราฟ parallel coordinates ของข้อมูล pollution

In [ ]:
pd.plotting.parallel_coordinates(pollution_data, 'City')

#จัดกลุ่มตามปริมาณในคอลัมน์ - จัดกลุ่มตามภาค-รัฐ