<a href="https://colab.research.google.com/github/Jittiya/multivariate/blob/main/Function_Numpy_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Function

In [5]:
def print_name(name,surname,ID) :
      st = f'ชื่อ {name} นามสกุล {surname} ID {ID}'
      return st
      print( 'outside function' )

In [3]:
print_name('จิตติยา' , 'ศิริธรรมจักร' , '623021043-3')

'ชื่อ จิตติยา นามสกุล ศิริธรรมจักร ID 623021043-3'

In [6]:
output_string = print_name('จิตติยา' , 'ศิริธรรมจักร' , '623021043-3')
print(output_string)

ชื่อ จิตติยา นามสกุล ศิริธรรมจักร ID 623021043-3

ฟังก์ชั่นไม่จำเป็นต้องมี output

In [10]:
def print_name2(name,surname,ID) :
      st = f'ชื่อ {name} นามสกุล {surname} ID {ID}'
      print(st)

In [11]:
print_name2( 'จิตติยา' , 'ศิริธรรมจักร' , '623021043-3' )

ชื่อ จิตติยา นามสกุล ศิริธรรมจักร ID 623021043-3

In [12]:
op2 = print_name2( 'จิตติยา' , 'ศิริธรรมจักร' , '623021043-3' )

ชื่อ จิตติยา นามสกุล ศิริธรรมจักร ID 623021043-3

In [13]:
print(op2)

None

ฟังก์ชั่นไม่จำเป็นต้องมี input

In [14]:
def Pi( ):
      return 3.14159265359

In [15]:
# คำนวณพื้นที่วงกลมที่มีขนาดเส้นผ่านศูนย์กลางเท่ากับ 3
Pi( )*(1.5**2)

7.0685834705775

In [16]:
def print_my_name( ):
      print( ' จิตติยา  ศิริธรรมจักร  623021043-3 ' )

In [17]:
print_my_name( )

 จิตติยา  ศิริธรรมจักร  623021043-3

### input ของ function ใน python มีสองแบบ

In [18]:
def print_2lines_default(name,surname,ID,grade= 'F' ):
      st = f' ชื่อ {name} นามสกุล {surname} isyl {ID}'
      print(st)
      st2=f'เกรดวิชา Multivariate >>> {grade}'
      print(st2)

In [19]:
print_2lines_default('จิตติยา' , 'ศิริธรรมจักร' , '623021043-3' )

 ชื่อ จิตติยา นามสกุล ศิริธรรมจักร isyl 623021043-3
เกรดวิชา Multivariate >>> F

In [20]:
print_2lines_default('จิตติยา' , 'ศิริธรรมจักร' , '623021043-3' , 'A' )

 ชื่อ จิตติยา นามสกุล ศิริธรรมจักร isyl 623021043-3
เกรดวิชา Multivariate >>> A

เราสามารถเรียกฟังก์ชั่นโดยใช้ชื่อตัวแปรอื่นของฟังก์ชั่นช่วยได้

In [21]:
print_name2()

TypeError: ignored

HW3  ให้เขียน function คำนวณจำนวนวินาทีจาก เวลาต่อไปนี้

'14-15-31'

'13-00-01'

'05-49-44'

'00-00-16'

และ print ให้สวยงาม

In [22]:
q1  = '14-15-31'